# Node ignores.
**/node_modules/

# Emacs ignores.
auto-save-list/
history
# NOTE: Remove straight dir ignore when you decide to generate lock files.
straight/
.cache/
org-roam.db
projectile-bookmarks.eld
.org-id-locations
